@media (max-width: 769px) {
    .center {
        padding-left: 49px;
        padding-right: 49px;
    }

    .header {
        display: none;

        &-tablet {
            padding-top: 30px;
            padding-bottom: 20px;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        &-mobile {
            display: none;
        }
    
        &__link {
            display: block;
            width: 156.198px;
            height: 60px;
        }
    }

    .button {
        &-prime {
            width: 201.5px;
        }

        &-tablet {
            width: 282.5px;
        }
    }

    .top {
        &__content {
            height: 907px;
            padding-bottom: 76px;

            &_text {
                width: 447px;
            }
        }
    }

    .title {
        font-size: 38px;
    }

    .content {
        padding-top: 44px;

        &__title {
            margin-bottom: 40px;
        }

        &__cards {
            grid-template-columns: repeat(2, 1fr);
            column-gap: 20px;
            row-gap: 20px;
        }
    }
}