$main-background-color: #131313;
$dark-text-color: #131313;
$light-text-color: #FFF;
$nav-hover-text-color: #C2AB81;
$button-main-background-color: #C2AB81;
$card-background: #FFF;
$card-heading-color: #171717;
$card-text-color: #666;
$card-button-background-color: #171717;