* {
  margin: 0;
  padding: 0;
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 #C2AB81;
  }
}
.center {
  padding-left: 100px;
  padding-right: 100px;
}

.page {
  background-color: #131313;
  max-width: 100vw;
  min-height: 100vh;
  box-sizing: border-box;
  padding-bottom: 256px;
  position: relative;
}

.top__content {
  width: 100%;
  height: 960px;
  background: url("../img/top.png") lightgray 50%/cover no-repeat;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-end;
  padding-bottom: 96px;
  box-sizing: border-box;
}
.top__content_wrapper {
  display: flex;
  flex-flow: column nowrap;
  gap: 40px;
}
.top__content_text {
  color: #FFF;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  opacity: 0.79;
}

.title {
  color: #FFF;
  font-family: Montserrat;
  font-size: 42px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
}

.header {
  padding-top: 28px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 29px;
}
.header-tablet {
  display: none;
}
.header-mobile {
  display: none;
}
.header__wrapper {
  display: flex;
  gap: 42px;
  align-items: center;
}
.header__buttons {
  display: flex;
  align-items: center;
  gap: 12.5px;
}
.header__link {
  display: block;
  width: 156.198px;
  height: 60px;
  flex-shrink: 0;
}
.header__logo {
  width: 156.198px;
  height: 60px;
}

.menu {
  display: none;
}

.nav {
  display: flex;
  gap: 42px;
  align-items: center;
  list-style-type: none;
}
.nav__link {
  text-decoration: none;
}
.nav__item {
  color: #FFF;
  text-transform: uppercase;
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
}
.nav__item:hover {
  transition: all 0.3s;
  color: #C2AB81;
}

.button {
  transform: skewX(-15deg);
  flex-shrink: 0;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}
.button:hover, .button:focus {
  cursor: pointer;
  animation: pulse 1s;
  box-shadow: 0 0 0 2em transparent;
}
.button-prime {
  width: 250.5px;
  height: 60px;
  border: none;
  background-color: #C2AB81;
  color: #FFF;
  font-family: Montserrat;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
  text-transform: uppercase;
  position: relative;
  margin-right: 16px;
}
.button-prime::after {
  content: "";
  position: absolute;
  top: 0;
  right: -10px;
  background-color: #FFF;
  width: 6px;
  height: 60px;
}
.button__phone {
  width: 92.5px;
  height: 60px;
  background-color: transparent;
  border: 1px solid #FFF;
}

.content {
  padding-top: 134px;
  display: flex;
  flex-flow: column wrap;
  align-items: flex-start;
}
.content__title {
  margin-bottom: 53px;
}
.content__cards {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  -moz-column-gap: 30px;
       column-gap: 30px;
  row-gap: 30px;
}
.content__button {
  margin-top: 60px;
  align-self: center;
}

.card {
  box-sizing: border-box;
  display: flex;
  flex-flow: column nowrap;
  background: #FFF;
  min-height: 400px;
}
.card__img {
  height: 185px;
  width: 100%;
}
.card__content {
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
  gap: 20px;
  padding: 25px 24px 30px 24px;
  box-sizing: border-box;
}
.card__heading {
  text-transform: uppercase;
  color: #171717;
  font-family: Mulish;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 26px;
  letter-spacing: 1.5px;
}
.card__subheading {
  color: #171717;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
}
.card__text {
  color: #666;
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}
.card__posted_data {
  color: #666;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  font-family: Montserrat;
}
.card__posted_data-bold {
  font-weight: 700;
}
.card__button {
  width: 100%;
  height: 50px;
  flex-shrink: 0;
  background-color: #171717;
  color: #FFF;
  font-family: Mulish;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  border: none;
  margin-top: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.card__button:hover, .card__button:focus {
  cursor: pointer;
  animation: pulse 1s;
  box-shadow: 0 0 0 2em transparent;
}

.modal {
  width: 400px;
  height: 500px;
  padding: 30px 25px;
  border: 2px solid #C2AB81;
  border-radius: 10px;
  background-color: #131313;
  z-index: 7;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  gap: 20px;
  position: absolute;
  margin-inline: auto;
  inset-inline: 0;
  inset-block-start: 50vh;
  transform: translateY(-50%);
}
.modal__cross {
  position: absolute;
  top: 30px;
  right: 25px;
  width: 30px;
  height: 30px;
  stroke: #fff;
}
.modal__cross:hover {
  cursor: pointer;
  stroke: #C2AB81;
}
.modal__heading {
  color: #FFF;
  font-family: Montserrat;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
}
.modal__input {
  height: 30px;
  padding: 0 10px 0 10px;
}
.modal__textarea {
  padding: 10px;
}
.modal__input, .modal__textarea {
  width: 100%;
  box-sizing: border-box;
  border-radius: 5px;
  border: 1px solid #FFF;
  color: #131313;
  font-family: Mulish;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.modal__input:focus, .modal__textarea:focus {
  outline: none;
  border: 2px solid #C2AB81;
}
.modal__button {
  margin-top: auto;
}

.hidden {
  display: none;
}

@media (max-width: 769px) {
  .center {
    padding-left: 49px;
    padding-right: 49px;
  }
  .header {
    display: none;
  }
  .header-tablet {
    padding-top: 30px;
    padding-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
  }
  .header__link {
    display: block;
    width: 156.198px;
    height: 60px;
  }
  .nav {
    display: flex;
    flex-flow: column nowrap;
    gap: 15px;
    align-items: flex-start;
    position: absolute;
    top: 110px;
    left: 0;
    padding-top: 59px;
    box-sizing: border-box;
    width: 100%;
    height: 100dvh;
    background-color: #131313;
    z-index: 3;
  }
  .nav__wrapper {
    display: flex;
    flex-flow: column nowrap;
    gap: 15px;
    list-style-type: none;
  }
  .nav__item {
    font-family: Montserrat;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%;
  }
  .button-prime {
    width: 175.5px;
  }
  .button-tablet {
    width: 282.5px;
  }
  .top__content {
    height: 907px;
    padding-bottom: 76px;
  }
  .top__content_text {
    width: 447px;
  }
  .title {
    font-size: 38px;
  }
  .content {
    padding-top: 44px;
  }
  .content__title {
    margin-bottom: 40px;
  }
  .content__cards {
    grid-template-columns: repeat(2, 1fr);
    -moz-column-gap: 20px;
         column-gap: 20px;
    row-gap: 20px;
  }
  .hidden {
    display: none;
  }
}
@media (max-width: 376px) {
  .center {
    padding-left: 15px;
    padding-right: 17px;
  }
  .header-tablet {
    display: none;
  }
  .header-mobile {
    padding-top: 15px;
    padding-bottom: 18px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
  }
  .header__link {
    display: block;
    width: 112.5px;
    height: 38.413px;
  }
  .header__logo {
    width: 112.5px;
    height: 38.413px;
  }
  .top__content {
    height: 495px;
    padding-bottom: 52px;
  }
  .top__content_text {
    width: 293px;
    font-size: 14px;
  }
  .nav {
    top: 71px;
    padding-bottom: 21px;
    box-sizing: border-box;
    justify-content: space-between;
    height: calc(100dvh - 71px);
  }
  .nav__wrapper {
    display: flex;
    flex-flow: column nowrap;
    gap: 15px;
    list-style-type: none;
  }
  .nav__item {
    font-size: 20px;
  }
  .nav__buttons {
    display: flex;
    flex-flow: column wrap;
    gap: 6px;
    width: 100%;
    box-sizing: border-box;
  }
  .title {
    font-size: 20px;
  }
  .button-prime, .button__phone {
    width: 100%;
    height: 60px;
  }
  .button-mobile {
    width: 219.829px;
    height: 46.689px;
  }
  .button-mobile::after {
    content: "";
    height: 46.689px;
  }
  .button__nav-mobile::after {
    content: "";
    display: none;
  }
  .content {
    padding-top: 48px;
  }
  .content__title {
    font-size: 20px;
    margin-bottom: 30px;
  }
  .content__cards {
    display: flex;
    flex-flow: column nowrap;
    gap: 20px;
  }
  .content__button {
    width: calc(100% - 32px);
  }
  .hidden {
    display: none;
  }
  .modal {
    width: 100%;
    height: 100dvh;
    top: 0;
    left: 0;
    box-sizing: border-box;
    margin-inline: 0;
    inset-inline: 0;
    inset-block-start: 0;
    transform: none;
    border-radius: 0;
  }
}/*# sourceMappingURL=style.css.map */